{% extends 'movie_app/base.html' %}
{% load my_filter %}
{% block title %} Информация о фильме {{ movie.name }}{% endblock %}

{% block content %}
    <h1>Информация о фильме - {{ movie.name }} ({{ movie.year }})</h1>
    <h2>Режиссер - <a href="{{ movie.director.get_url }}">{{ movie.director }}</a></h2>
    <h2>Рейтинг - {{ movie.rating }}
    <h2>Бюджет фильма - {{ movie.budget }}{{ movie.currency }}</h2>
    <hr>
    <h1>Список актеров</h1>
    {% for actor in movie.actors.all %}

        <h3><a href="{{ actor.get_url }}">{{ actor }}</a></h3>

    {% endfor %}

{% endblock %}
