{% extends 'movie_app/base.html' %}
{% load my_filter %}
{% block title %} Информация о фильме {{ movie.name }}{% endblock %}

{% block content %}
    <h2>Информация о фильме - {{ movie.name }}</h2>
    <h3>Режиссер - <a href="{{ movie.director.get_url }}">{{ movie.director }}</a></h3>
    <h3>Рейтинг - {{ movie.rating }}
    <h3>Бюджет - {{ movie.budget }}</h3>
    <h3>Год выхода - {{ movie.year }}</h3>
    <hr>
    <h3>Список актеров:</h3>
    <ul>
        {% for actor in movie.actors.all %}
            <h3>
                <li><a href="{{ actor.get_url }}">{{ actor }}</a>
                </li>
            </h3>
        {% endfor %}

    </ul>
{% endblock %}
