{% extends 'movie_app/base.html' %}

{% block title %}
    {{ director }}
{% endblock %}

{% block content %}
    <h1>РЕЖИССЕР</h1>
    <h2>{{ director.first_name }} {{ director.last_name }}</h2>
    {% if director.director_email %}
        <h2>Почта:{{ director.director_email }}</h2>
    {% endif %}
    <hr>
    <h1>Список фильмов:</h1>
    {% for movie in director.movie_set.all %}
        <h3>
            <a href="{{ movie.get_url }}">
                {{ movie }}
            </a>
        </h3>
    {% endfor %}

{% endblock %}